<%- include('../partials/header') %>

    <form id="new-form" action="/shakes" method="POST">
        <label>Product Type:</label>
            <input type="text" name="productType" required>
        <label>Flavor:</label>
            <input type="text" name="flavor" required>
        <label>Calories</label>
            <select name="calories">
                <option value="100+">100+</option>
                <option value="200+">200+</option>
                <option value="300+">300+</option>
                <option value="400+">400+</option>
                <option value="500+">500+</option>
            </select>
        
        <label>Price $:</label>
            <input type="text" name="price" required>
        <label>Comment:</label>
            <input type="text" name="comment">
        <label>Good Quality</label>
            <input type="checkbox" name="quality" checked required>
            <input type="submit" value="Add Comment">
    </form>

<%- include('../partials/footer') %>
   