<%- include('../partials/header') %>
<div style="text-align:center;max-width: 600px;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS4V_snoPtOaIIj5Cd-ky8pXL5sLAIZhSw4Q&usqp=CAU" alt="Shakes" width="100%"></div>

    <form id="new-form" action="/shakes" method="POST">
        <label>Product:</label>
            <input type="text" name="product" required>
        <label>Flavor:</label>
            <input type="text" name="flavor" required>
        <label>Calories:</label>
            <select name="calories">
                <option value="100+">100+</option>
                <option value="200+">200+</option>
                <option value="300+">300+</option>
                <option value="400+">400+</option>
                <option value="500+">500+</option>
            </select>
    <br/>  
    <p>
    <label for="price">
        <input id="price" type="text" name="price">
        <span>$ Price:</span>
    </label>
    </p>
    <p>
    <label for="comment">
        <input id="comment" type="text" name="comment">
        <span>Comment:</span>
    </label>
    </p>
    <p>
    <label for="Quality"> 
        <input id="Quality" type="checkbox" name="quality" checked>    
        <span>Quality:</span>
    </label>  
    </p>       
    <br/><br/>        
            <input type="submit" value="Add Comment">
    </form>

    <script>
        $(document).ready(function(){
          $('select').formSelect();
        });
    </script>
<%- include('../partials/footer') %>
   