
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    </div>
   
  </main>
  <footer class="page-footer cyan lighten-1">
    </div><p class="text-align center">Copyright &copy; All Rights Reserved Shake Station 2021</p>
  </footer>
</body>
</html>