<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <img src="/images/camera.svg">
    <a href="/shakes/new" <%- title === 'Add Shake' ? 'class="active"' : '' %>>ADD SHAKE</a>
    <a href="/shakes" <%- title === 'All Shakes' ? 'class="active"' : '' %>>ALL SHAKES</a>
  </nav>
  <main>
    <h1><%= title %></h1>