<%- include('../partials/header') %>
<% if(user) { %>

    <% if (user) { %>
 <main>
    
<h1>My Shakes</h1>

 
  
         
<div class='main-cntr'>
<div class='pls-login'>
 <a href="/auth/google">Login for Shake Review</a>
</div>
</div>
<% } %>
        





<%- include('../partials/footer') %>