*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.brand-logo {
    display:flex !important;
    align-items: center !important;
}
